aio-pika==9.4.1
aiormq==6.8.0
certifi==2024.2.2
charset-normalizer==3.3.2
docker==7.0.0
greenlet==3.0.3
idna==3.7
joblib==1.4.0
multidict==6.0.5
mysql-connector-python==8.4.0
numpy==1.21.5
scikit-learn==1.0.2
packaging==24.0
pamqp==3.3.0
# pywin32==306
requests==2.31.0
scipy==1.7.3
SQLAlchemy==2.0.30
threadpoolctl==3.5.0
typing_extensions==4.11.0
urllib3==2.2.1
yarl==1.9.4
